
 <div>
{{debug}}
        <table>
    <thead>
        <td>Rank</td>
        <td>Sequence</td>
        <td>Q1 m/z</td>
        <td>Q3 m/z</td>
        <td>RT</td>
        <td>Probab.</td>
        <td>Intens.</td>
    </thead>

    <tbody>
        {{#each results}}
        <tr>
        <td>{{rank}}</td>
        <td>{{sequence}}</td>
        <td>{{Q1}}</td>
        <td>{{Q3}}</td>
        <td>{{RT}}</td>
        <td>{{probability}}</td>
        <td>{{intensity}}</td>
        </tr>
        
        {{/each}}
    </tbody>

    
</table>

 </div>  




