.circ {
    height: 10px;
    width: 10px;
    background-color: #444;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    -webkit-animation: animate 2s;
    -webkit-animation-iteration-count: infinite
}
.one {
    -webkit-animation-delay: 0s;
}
.two {
    -webkit-animation-delay: 0.2s;
}
.three {
    -webkit-animation-delay: 0.4s;
}
.four {
    -webkit-animation-delay: 0.6s;
}
.five {
    -webkit-animation-delay: 0.8s;
}

@-webkit-keyframes animate {
    0% {
        position: absolute;
        background-color: #444;
        left: 0;
        opacity: 0;
    }
    50% {
        left: calc(50% - 5px);
        background-color: #0078d0;
        opacity: 1;
    }
    100% {
        left: 100%;
        background-color: #444;
        opacity: 0;
    }
}

.loader-container {
    height: 10px;
    position: absolute;
    width: 100%;
    top: calc(50% - 5px);
}

#loader{
    position:absolute;
    top: 50%;
    left:  calc(50% - 22.5px);
}
#loader span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    -webkit-animation: preloader_1 1.5s  infinite ease-in-out;
}
 
#loader span:nth-child(2){
left:11px;
-webkit-animation-delay: .2s;
 
}
#loader span:nth-child(3){
left:22px;
-webkit-animation-delay: .4s;
}
#loader span:nth-child(4){
left:33px;
-webkit-animation-delay: .6s;
}
#loader span:nth-child(5){
left:44px;
-webkit-animation-delay: .8s;
}
@-webkit-keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}