@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: $background-color;
    overflow: hidden;
}

.main-box,
.connector {
    fill: #FFFFFF;
    cursor: pointer;
    stroke: #999999;
}

.title-box {
    fill: #005B89;
}

.title-box-text {
    font-size: 18px;
    fill: #FFFFFF;
}

g {
    cursor: pointer;
}

svg line {
    fill: #999999;
    stroke: #999999;
}

.body-text {
    font-size: 12px;
    fill: #000000;
}

.b {
    font-weight: bold;
}

.close {
    fill: #FFFFFF;
    font-family: 'FontAwesome';
    cursor: pointer;
}

.valid-symbol{
    fill: #005B89;
    font-family: 'FontAwesome';
}
.invalid-title-box{
  fill: #ff3b3b;  
}
.invalid-symbol{
    fill: #ff3b3b;
    font-family: 'FontAwesome';
}

line {
    stroke-width: 2;
}

.invalid-field{
    background-color: #fd8f8f;
}

.connector:hover {
    stroke: #005B89;
}

.vis {
    width: calc(30%);
    min-height: 25vh;
    padding: $default-padding;
    margin: $default-padding;
    float: left;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#chooser {
    .item {
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: $default-border-radius;
    }
}