.dialog{
    width: 350px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    position: absolute;
    border-radius: $default-border-radius;
    top: 25%;
    left: calc(50% - 175px);
    background-color:white;
    z-index:10;
}
 select,button{
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
    border: 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.title{
    padding: 0.5rem;
    color:white;
    border-top-left-radius: $default-border-radius;
    border-top-right-radius: $default-border-radius;
    background-color: #2E7D32;
}
option{
    padding: 0.25rem;
}
.select{
padding: 0.5rem;}