/*
 * Styling for all sorts of forms
 */
.but, input{
    width: 100%;
    border-radius: $default-border-radius;
    padding: $default-padding;
    border: 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    margin-top: $default-padding;
    margin-bottom: $default-padding;
    font-size: 1.125rem;
}

button{
    background-color: #2E7D32;
    color: white;
    
}


label{
    width: 100%;
    padding: $default-padding;
    font-size: 1.125rem;
}

.message{
    padding: $default-padding;
    background-color: rgba(46, 125, 50, 0.3);
    border: 1px dotted #2E7D32;
    color: #2E7D32;
    font-weight: bold;
    border-radius: 3px;
    margin-bottom: $default-padding;
}

.desc{
   padding: $default-padding;
    background-color: rgba(0, 37, 88, 0.3);
    border: 1px dotted rgb(0, 37, 88);
    color: rgb(0, 37, 88);
    font-weight: bold;
    border-radius: 3px; 
    margin-bottom: $default-padding;
}

