/*
 * General layout of the program.
 * Contains styling and positioning for the elements of the mainLayout.
 * see  ../tpl/main.tpl
 *      ../js/views/MainLayout.js        
 */

// containing element for the main layout
#wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

// The main area, this is the dom element where most of the views are rendered in.
#main-area {
    position: absolute;
    top: $navigation-height;
    bottom: 0;
    left: 0;
    right: 0;
}

@import "_navigation.scss";


.sec{
    .head {
        box-sizing: border-box;
        background-color: #DDD;
        padding: $default-padding;
        font-size: 1.5rem;
        background: linear-gradient(to bottom, #ffffff 1%,#f2f2f2 100%);
        border: 1px solid #ebebeb;
        width: 100%;
        border-top-left-radius: 5px;
        margin-bottom: $default-padding;
        border-top-right-radius: 5px;
        color: #767f85;
    }
}


#config,
#spectra-list {
    background-color: white;
    max-width: 400px;
    min-width: 250px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: $default-margin;
    align-items: flex-start;
    align-self: stretch;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    overflow: auto;
    #conf {
        width: 100%;
    }
    button {
        align-self: flex-end;
    }
}

#spectra svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#spectra-list {
    display: block;
}

.list-entry {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.list-entry:hover {
    background-color: #EEE;
}


