/*
 * Stylesheet containing all styles for the navigation.
 *  - window controls to mimize, maximize and close the window
 *  - Dropdown menu's are modeled in css with the :target selector.
 */

// Containing element.
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    background-color: $navigation-color;
    height: $navigation-height;
    line-height: $navigation-height;
    z-index: 10;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    -webkit-app-region: drag;
    
    -webkit-user-select: none;
}

// Style for the program name
#programname {
    display: inline-block;
    float: left;
    font-weight: bold;
    margin: 0; 
    margin-left: $default-margin;
}

// The containing element for the actual navigation
.navigation {
    margin-left: 1em;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    -webkit-app-region: no-drag;
}

// Each entry in the navigation in contained inside a list item.
.navigation li {
    display: inline-block;
    box-sizing: border-box;
    padding-right: 1.25em;
}

// Styling link
.navigation a{
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    font-weight: bold;
    color: $navigation-text-color;
    transition: all $default-animation-duration ease;
}

// changes to link when mouseover
.navigation a:hover{
    color: $navigation-highlight-text-color;
}


// If a link is clicked, the active class is added to the link
.navigation a.active{
    color: $navigation-highlight-text-color;
}

// dropdown-menu's, these are hidden by default, unless the corresponding link is clicked
#experiment-nav, #visualisation-nav{
    position: absolute;
    overflow: hidden;
    width: 0;
    opacity: 0;
    box-sizing: border-box;
    padding: 0;
    transition: all $default-animation-duration ease;
    a{
        font-weight: 500;
        box-sizing: border-box;
        width: 100%;
        display: block;
        border-bottom: 1px solid #ebebeb;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    a:last-child{
        border-bottom: 0;
    }
    z-index: 3;
}

// makes the dropdown menu's visible when the parent link is clicked.
.navigation a:hover ~ #experiment-nav, #experiment-nav:hover, .navigation a:hover ~ #visualisation-nav, #visualisation-nav:hover{
    width: 250px;
    opacity: 1;
    padding: $default-padding;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);

}



// the containing element for the window controls.
#controls {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    float: right;
    position: relative;
    color: white;
    background-color: lighten($background-color, 85%);

}


// a window control element.
.windowControl {
    float: left;
    width: 50px;
    height: 23px;
    border-left: 1px solid lighten($background-color, 65%);
    border-bottom: 1px solid lighten($background-color, 65%);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-app-region: no-drag;
    transition: background 0.3s;
    cursor: pointer;
}

// element responsible for minimizing the window.
#minimizeWindow{
    background-image: url(../images/minimize.png);
}

// element responsible for maximizing the window.
#maximizeWindow{
    background-image: url(../images/maximize.png);
}

// element responsible for closing the window and program.
#closeWindow{
    background-image: url(../images/close.png);
}

.windowControl:hover {
    background-color: #CCC;
}