#pipeline {
    button {
        border-radius: 5px;
        border: 1px solid $border-color;
        box-sizing: border-box;
        width: 100%;
        background-color: #EEE;
        font-weight: bold;
        color: $font-color;
        box-shadow: none;
        text-transform: capitalize;
        transition: background 0.3s ease;
    }
    
    button:hover{
        background-color: #AAA;
    }
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    .sec {
        margin-bottom: $default-padding;
        padding: $default-padding;
        .head {
            margin-bottom: 0;
        }
        .bod {
            background-color: white;
            border: 1px solid $border-color;
            border-top: 0;
            box-sizing: border-box;
            padding: $default-padding;
            border-bottom-left-radius: $default-border-radius;
            border-bottom-right-radius: $default-border-radius;
        }
    }
    textarea, input{
        width: 100%;
        margin-bottom: $default-padding;
    }
}

#proteins {
    flex-grow: 1;
    table {
        border: 1px solid $border-color;
        margin: 1%;
        table-layout: fixed;
        white-space: nowrap;
        width: 98%;
        thead {
            text-align: left;
            background-color: #EEE;
            font-weight: bold;
            th {
                padding: $default-padding;
            }
        }
    }
    td {
        padding: $default-padding;
    }
    .sequence {
        font-size: 0.8rem;
        width: 95%;
        text-overflow: ellipsis;
        overflow: hidden;
        text-transform: uppercase;
        color: #888;
    }
    tr {
        border-bottom: 1px solid $border-color;
    }
    tr:last-child {
        border: 0;
    }
    .destroy {
        color: #a80101;
        cursor: pointer;
    }
    .destroy:hover {
        color: #670000;
    }
}

#proteins {
    flex-grow: 1;
    min-width: 480px;
}

#pipeline-config {
    flex-grow: 1;
    min-width: 480px;
}