/*
 * Standard Typography
 */


html{
    font-size: $default-font-size;
    font-family: $font-family;
    color: $font-color;
}
body{
    font-size: $default-font-size;
    font-family: $font-family;
    line-height: 1.5em;
}

h1{
    font-size: 2rem;
    line-height: 1.5em;
    font-weight: bold;
}

h2{
    font-size: 1.75rem;
    line-height: 1.5em;
    font-weight: bold;
}

h3{
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: bold;
}

h4{
    font-size: 1.25rem;
    line-height: 1.5em;
    font-weight: bold;
}

h5{
    font-size: 1.25rem;
    line-height: 1.5em;
}

p{
    margin-bottom: 1.5rem;

}