/*
 * Font variables
 */
$font-color: #444;
$default-font-size: 16px;
$font-family:   sans-serif;

/* 
 * Colors 
 */
$background-color: #F3F3F3;
$navigation-text-color: #888;
$navigation-highlight-text-color: #000;
$border-color: #ebebeb;

$default-padding: 0.5rem;
$default-margin: 0.5rem;
$default-border-radius: 6px;
$default-animation-duration: 0.2s;
$navigation-color: #FFF;
$navigation-height: 50px;