/*
    File necessary to prevent unpredictable behaviour of the browser.

    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * Font variables
 */
/* 
 * Colors 
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #f3f3f3;
  overflow: hidden; }

.main-box,
.connector {
  fill: #FFFFFF;
  cursor: pointer;
  stroke: #999999; }

.title-box {
  fill: #005B89; }

.title-box-text {
  font-size: 18px;
  fill: #FFFFFF; }

g {
  cursor: pointer; }

svg line {
  fill: #999999;
  stroke: #999999; }

.body-text {
  font-size: 12px;
  fill: #000000; }

.b {
  font-weight: bold; }

.close {
  fill: #FFFFFF;
  font-family: 'FontAwesome';
  cursor: pointer; }

.valid-symbol {
  fill: #005B89;
  font-family: 'FontAwesome'; }

.invalid-title-box {
  fill: #ff3b3b; }

.invalid-symbol {
  fill: #ff3b3b;
  font-family: 'FontAwesome'; }

line {
  stroke-width: 2; }

.invalid-field {
  background-color: #fd8f8f; }

.connector:hover {
  stroke: #005B89; }

.vis {
  width: calc(30%);
  min-height: 25vh;
  padding: 0.5rem;
  margin: 0.5rem;
  float: left;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }

#chooser .item {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 6px; }

.dialog {
  width: 350px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 6px;
  top: 25%;
  left: calc(50% - 175px);
  background-color: white;
  z-index: 10; }

select, button {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }

.title {
  padding: 0.5rem;
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #2E7D32; }

option {
  padding: 0.25rem; }

.select {
  padding: 0.5rem; }

/*
 * Standard Typography
 */
html {
  font-size: 16px;
  font-family: sans-serif;
  color: #444444; }

body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5em; }

h1 {
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: bold; }

h2 {
  font-size: 1.75rem;
  line-height: 1.5em;
  font-weight: bold; }

h3 {
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: bold; }

h4 {
  font-size: 1.25rem;
  line-height: 1.5em;
  font-weight: bold; }

h5 {
  font-size: 1.25rem;
  line-height: 1.5em; }

p {
  margin-bottom: 1.5rem; }

/*
 * Styling for all sorts of forms
 */
.but, input {
  width: 100%;
  border-radius: 6px;
  padding: 0.5rem;
  border: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.125rem; }

button {
  background-color: #2E7D32;
  color: white; }

label {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.125rem; }

.message {
  padding: 0.5rem;
  background-color: rgba(46, 125, 50, 0.3);
  border: 1px dotted #2E7D32;
  color: #2E7D32;
  font-weight: bold;
  border-radius: 3px;
  margin-bottom: 0.5rem; }

.desc {
  padding: 0.5rem;
  background-color: rgba(0, 37, 88, 0.3);
  border: 1px dotted #002558;
  color: #002558;
  font-weight: bold;
  border-radius: 3px;
  margin-bottom: 0.5rem; }

/*
 * General layout of the program.
 * Contains styling and positioning for the elements of the mainLayout.
 * see  ../tpl/main.tpl
 *      ../js/views/MainLayout.js        
 */
#wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#main-area {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0; }

/*
 * Stylesheet containing all styles for the navigation.
 *  - window controls to mimize, maximize and close the window
 *  - Dropdown menu's are modeled in css with the :target selector.
 */
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background-color: white;
  height: 50px;
  line-height: 50px;
  z-index: 10;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-app-region: drag;
  -webkit-user-select: none; }

#programname {
  display: inline-block;
  float: left;
  font-weight: bold;
  margin: 0;
  margin-left: 0.5rem; }

.navigation {
  margin-left: 1em;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  -webkit-app-region: no-drag; }

.navigation li {
  display: inline-block;
  box-sizing: border-box;
  padding-right: 1.25em; }

.navigation a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  font-weight: bold;
  color: #888888;
  transition: all 0.2s ease; }

.navigation a:hover {
  color: black; }

.navigation a.active {
  color: black; }

#experiment-nav, #visualisation-nav {
  position: absolute;
  overflow: hidden;
  width: 0;
  opacity: 0;
  box-sizing: border-box;
  padding: 0;
  transition: all 0.2s ease;
  z-index: 3; }
  #experiment-nav a, #visualisation-nav a {
    font-weight: 500;
    box-sizing: border-box;
    width: 100%;
    display: block;
    border-bottom: 1px solid #ebebeb;
    white-space: nowrap;
    text-overflow: ellipsis; }
  #experiment-nav a:last-child, #visualisation-nav a:last-child {
    border-bottom: 0; }

.navigation a:hover ~ #experiment-nav, #experiment-nav:hover, .navigation a:hover ~ #visualisation-nav, #visualisation-nav:hover {
  width: 250px;
  opacity: 1;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }

#controls {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  float: right;
  position: relative;
  color: white;
  background-color: white; }

.windowControl {
  float: left;
  width: 50px;
  height: 23px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-app-region: no-drag;
  transition: background 0.3s;
  cursor: pointer; }

#minimizeWindow {
  background-image: url(../images/minimize.png); }

#maximizeWindow {
  background-image: url(../images/maximize.png); }

#closeWindow {
  background-image: url(../images/close.png); }

.windowControl:hover {
  background-color: #CCC; }

.sec .head {
  box-sizing: border-box;
  background-color: #DDD;
  padding: 0.5rem;
  font-size: 1.5rem;
  background: linear-gradient(to bottom, white 1%, #f2f2f2 100%);
  border: 1px solid #ebebeb;
  width: 100%;
  border-top-left-radius: 5px;
  margin-bottom: 0.5rem;
  border-top-right-radius: 5px;
  color: #767f85; }

#config,
#spectra-list {
  background-color: white;
  max-width: 400px;
  min-width: 250px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  align-items: flex-start;
  align-self: stretch;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  overflow: auto; }
  #config #conf,
  #spectra-list #conf {
    width: 100%; }
  #config button,
  #spectra-list button {
    align-self: flex-end; }

#spectra svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

#spectra-list {
  display: block; }

.list-entry {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  cursor: pointer; }

.list-entry:hover {
  background-color: #EEE; }

#modelling {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row; }

#graph {
  height: 100%;
  border-radius: 6px;
  position: relative;
  z-index: 1; }
  #graph .head {
    box-sizing: border-box;
    background-color: #DDD;
    padding: 0.5rem;
    position: relative;
    font-size: 1.5rem;
    background: linear-gradient(to bottom, white 1%, #f2f2f2 100%);
    border: 1px solid #ebebeb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #767f85; }
    #graph .head button {
      background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
      border-radius: 5px;
      border: 1px solid #d8d2d2;
      box-sizing: border-box;
      position: absolute;
      top: 1px;
      right: 0.5rem;
      cursor: pointer;
      min-width: 100px;
      max-width: 200px; }

#graph-area {
  background-color: white;
  flex-grow: 2;
  align-self: stretch;
  margin: 0.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: block;
  border-radius: 6px;
  position: relative; }
  #graph-area .head {
    box-sizing: border-box;
    background-color: #DDD;
    padding: 0.5rem;
    font-size: 1.5rem;
    background: linear-gradient(to bottom, white 1%, #f2f2f2 100%);
    border: 1px solid #ebebeb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #767f85;
    z-index: 2; }
    #graph-area .head button {
      background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
      border-radius: 5px;
      border: 1px solid #d8d2d2;
      box-sizing: border-box;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      min-width: 100px;
      max-width: 200px; }
  #graph-area svg {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }

.closeCircle:hover {
  fill: #444; }

#config .head {
  box-sizing: border-box;
  background-color: #DDD;
  padding: 0.5rem;
  font-size: 1.5rem;
  background: linear-gradient(to bottom, white 1%, #f2f2f2 100%);
  border: 1px solid #ebebeb;
  width: 100%;
  border-top-left-radius: 5px;
  margin-bottom: 0.5rem;
  border-top-right-radius: 5px;
  color: #767f85; }
  #config .head button {
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    border-radius: 5px;
    border: 1px solid #d8d2d2;
    box-sizing: border-box;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    min-width: 100px;
    max-width: 200px; }

.config-wrap {
  padding: 0.5rem; }

#spectra-table {
  width: 100%; }

.axis line,
.axis path {
  fill: none;
  stroke: black; }

.tick line {
  opacity: 0.1;
  stroke: 1;
  stroke-dasharray: 4, 4; }

#spectraview .head {
  box-sizing: border-box;
  background-color: #DDD;
  padding: 0.5rem;
  font-size: 1.5rem;
  background: linear-gradient(to bottom, white 1%, #f2f2f2 100%);
  border: 1px solid #ebebeb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #767f85; }

#spectra {
  background-color: white;
  flex-grow: 2;
  align-self: stretch;
  margin: 0.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: block; }

#measurements {
  position: absolute;
  top: 3rem;
  right: 0.5rem;
  width: 250px;
  background-color: white; }
  #measurements tbody {
    border: 1px solid #ebebeb; }
    #measurements tbody tr {
      border-bottom: 1px solid #ebebeb; }
      #measurements tbody tr td {
        padding: 0.25rem; }
    #measurements tbody tr:last-child {
      border-bottom: 0; }
  #measurements thead {
    text-align: left;
    background: linear-gradient(to bottom, white 1%, #f2f2f2 100%);
    border: 1px solid #ebebeb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    #measurements thead th {
      padding: 0.25rem; }

.measurement {
  float: left;
  width: 100px;
  font-weight: bold; }

#mz,
#intensity {
  float: left;
  width: 90px; }

#spectra,
#spectra-list {
  position: relative;
  border-radius: 6px; }

#spectra-list table {
  border: 1px solid #ebebeb;
  margin: 1%;
  table-layout: fixed;
  white-space: nowrap;
  width: 98%; }
  #spectra-list table thead {
    text-align: left;
    background-color: #EEE;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #888; }
    #spectra-list table thead th {
      padding: 0.5rem; }
  #spectra-list table td {
    padding: 0.5rem; }
  #spectra-list table tr {
    border-bottom: 1px solid #ebebeb; }
    #spectra-list table tr td:first-child {
      font-weight: bold; }
  #spectra-list table tr:last-child {
    border: 0; }

#spectraview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row; }

.circ {
  height: 10px;
  width: 10px;
  background-color: #444;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  -webkit-animation: animate 2s;
  -webkit-animation-iteration-count: infinite; }

.one {
  -webkit-animation-delay: 0s; }

.two {
  -webkit-animation-delay: 0.2s; }

.three {
  -webkit-animation-delay: 0.4s; }

.four {
  -webkit-animation-delay: 0.6s; }

.five {
  -webkit-animation-delay: 0.8s; }

@-webkit-keyframes animate {
  0% {
    position: absolute;
    background-color: #444;
    left: 0;
    opacity: 0; }

  50% {
    left: calc(50% - 5px);
    background-color: #0078d0;
    opacity: 1; }

  100% {
    left: 100%;
    background-color: #444;
    opacity: 0; } }

.loader-container {
  height: 10px;
  position: absolute;
  width: 100%;
  top: calc(50% - 5px); }

#loader {
  position: absolute;
  top: 50%;
  left: calc(50% - 22.5px); }

#loader span {
  display: block;
  bottom: 0px;
  width: 9px;
  height: 5px;
  background: #9b59b6;
  position: absolute;
  -webkit-animation: preloader_1 1.5s  infinite ease-in-out; }

#loader span:nth-child(2) {
  left: 11px;
  -webkit-animation-delay: .2s; }

#loader span:nth-child(3) {
  left: 22px;
  -webkit-animation-delay: .4s; }

#loader span:nth-child(4) {
  left: 33px;
  -webkit-animation-delay: .6s; }

#loader span:nth-child(5) {
  left: 44px;
  -webkit-animation-delay: .8s; }

@-webkit-keyframes preloader_1 {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: #9b59b6; }

  25% {
    height: 30px;
    transform: translateY(15px);
    background: #3498db; }

  50% {
    height: 5px;
    transform: translateY(0px);
    background: #9b59b6; }

  100% {
    height: 5px;
    transform: translateY(0px);
    background: #9b59b6; } }

#pipeline {
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row; }
  #pipeline button {
    border-radius: 5px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    width: 100%;
    background-color: #EEE;
    font-weight: bold;
    color: #444444;
    box-shadow: none;
    text-transform: capitalize;
    transition: background 0.3s ease; }
  #pipeline button:hover {
    background-color: #AAA; }
  #pipeline .sec {
    margin-bottom: 0.5rem;
    padding: 0.5rem; }
    #pipeline .sec .head {
      margin-bottom: 0; }
    #pipeline .sec .bod {
      background-color: white;
      border: 1px solid #ebebeb;
      border-top: 0;
      box-sizing: border-box;
      padding: 0.5rem;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px; }
  #pipeline textarea, #pipeline input {
    width: 100%;
    margin-bottom: 0.5rem; }

#proteins {
  flex-grow: 1; }
  #proteins table {
    border: 1px solid #ebebeb;
    margin: 1%;
    table-layout: fixed;
    white-space: nowrap;
    width: 98%; }
    #proteins table thead {
      text-align: left;
      background-color: #EEE;
      font-weight: bold; }
      #proteins table thead th {
        padding: 0.5rem; }
  #proteins td {
    padding: 0.5rem; }
  #proteins .sequence {
    font-size: 0.8rem;
    width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: uppercase;
    color: #888; }
  #proteins tr {
    border-bottom: 1px solid #ebebeb; }
  #proteins tr:last-child {
    border: 0; }
  #proteins .destroy {
    color: #a80101;
    cursor: pointer; }
  #proteins .destroy:hover {
    color: #670000; }

#proteins {
  flex-grow: 1;
  min-width: 480px; }

#pipeline-config {
  flex-grow: 1;
  min-width: 480px; }
