#config{
    .head {
        box-sizing: border-box;
        background-color: #DDD;
        padding: $default-padding;
        font-size: 1.5rem;
        background: linear-gradient(to bottom, #ffffff 1%,#f2f2f2 100%);
        border: 1px solid #ebebeb;
        width: 100%;
        border-top-left-radius: 5px;
        margin-bottom: $default-padding;
        border-top-right-radius: 5px;
        color: #767f85;
        button{
            background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
            border-radius: 5px;
            border: 1px solid #d8d2d2;
            box-sizing: border-box;
            position: absolute;
            top: $default-padding;
            right: $default-padding;
            min-width: 100px;
            max-width: 200px;
        }
    }
}

.config-wrap{
    padding: $default-padding;
}