#graph {
    height: 100%;
    border-radius: $default-border-radius;
    .head {
        box-sizing: border-box;
        background-color: #DDD;
        padding: $default-padding;
        position: relative;
        font-size: 1.5rem;
        background: linear-gradient(to bottom, #ffffff 1%, #f2f2f2 100%);
        border: 1px solid #ebebeb;
        border-top-left-radius: $default-border-radius;
        border-top-right-radius: $default-border-radius;
        color: #767f85;
        button {
            background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
            border-radius: 5px;
            border: 1px solid #d8d2d2;
            box-sizing: border-box;
            position: absolute;
            top: 1px;
            right: $default-padding;
            cursor: pointer;
            min-width: 100px;
            max-width: 200px;
        }
    }
    position: relative;
    z-index: 1;
    //    box-sizing: border-box;
}

#graph-area {
    background-color: white;
    flex-grow: 2;
    align-self: stretch;
    margin: $default-margin;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    display: block;
    border-radius: $default-border-radius;
    position: relative;
    .head {
        box-sizing: border-box;
        background-color: #DDD;
        padding: $default-padding;
        font-size: 1.5rem;
        background: linear-gradient(to bottom, #ffffff 1%, #f2f2f2 100%);
        border: 1px solid #ebebeb;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #767f85;
        z-index: 2;
        button {
            background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
            border-radius: 5px;
            border: 1px solid #d8d2d2;
            box-sizing: border-box;
            position: absolute;
            top: $default-padding;
            right: $default-padding;
            min-width: 100px;
            max-width: 200px;
        }
    }
    svg {
        position: absolute;
        box-sizing: border-box;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.closeCircle:hover{
    fill: #444;
}