#spectra-table {
    width: 100%;
}

.axis line,
.axis path {
    fill: none;
    stroke: black;
}

.tick line {
    opacity: 0.1;
    stroke: 1;
    stroke-dasharray: 4, 4;
}

#spectraview {
    .head {
        box-sizing: border-box;
        background-color: #DDD;
        padding: $default-padding;
        font-size: 1.5rem;
        background: linear-gradient(to bottom, #ffffff 1%, #f2f2f2 100%);
        border: 1px solid $border-color;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #767f85;
    }
}

#spectra {
    background-color: white;
    flex-grow: 2;
    align-self: stretch;
    margin: $default-margin;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    display: block;
}

#measurements {
    position: absolute;
    top: 2 * $default-padding + 1.5rem + $default-padding;
    right: $default-padding;
    width: 250px;
    background-color: white;
    tbody {
        border: 1px solid $border-color;
        tr {
            border-bottom: 1px solid $border-color;
            td {
                padding: 0.5 * $default-padding;
            }
        }
        tr:last-child {
            border-bottom: 0;
        }
    }
    thead {
        text-align: left;
        background: linear-gradient(to bottom, #ffffff 1%, #f2f2f2 100%);
        border: 1px solid $border-color;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        th {
            padding: 0.5 * $default-padding;
        }
    }
}

.measurement {
    float: left;
    width: 100px;
    font-weight: bold;
}

#mz,
#intensity {
    float: left;
    width: 90px;
}

#spectra,
#spectra-list {
    position: relative;
    border-radius: $default-border-radius;
}

#spectra-list {
    table {
        border: 1px solid $border-color;
        margin: 1%;
        table-layout: fixed;
        white-space: nowrap;
        width: 98%;
        thead {
            text-align: left;
            background-color: #EEE;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.8rem;
            color: #888;
            th {
                padding: $default-padding;
            }
        }
        td {
            padding: $default-padding;
        }
        tr {
            border-bottom: 1px solid $border-color;
            td:first-child{
                font-weight: bold;
            }
        }
        tr:last-child {
            border: 0;
        }
    }
}

@import "visualisation/_spectra.scss";